<div{{ attributes.addClass('nsw-container nsw-layout nsw-layout--sidebar-right') }}>
  <main{{ region_attributes.content.addClass('nsw-layout__content') }}>
    {{ content.content }}
  </main>
  <div {{ region_attributes.sidebar.addClass('nsw-layout__sidebar') }}>
    {{ content.sidebar }}
  </div>
</div>
