<section{{ attributes.addClass('layout layout--twocol') }}>
  <div{{ region_attributes.left.addClass('layout__region layout__region--content') }}>
    {{ content.left }}
  </div>
  <div{{ region_attributes.right.addClass('layout__region layout__region--content') }}>
    {{ content.right }}
  </div>
</section>
